* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding-right: 50px;
  
}

nav ul li a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  font-weight: 600;
  font-size: 18px;
}
.hero {
  background-image: url("images/hero.jpg");
  text-align: center;
  color: white;
  height: 100vh;

}

.hero h5 {
  color: black;
  font-size: 28px;
}

.hero h1 {
  color: #3A98F0;
  font-size: 100px;
  font-weight: 700px;
}

.pets {
  display: flex;
  height: 60vh;
}

.col1 {
  width: 50%;
  background-image: url("images/pet_love.jpg");
  background-size: cover;
  text-align: right;
  padding: 5%;
}

.col1 h4 {
  color: #3A98F0;
  font-size: 80px;
  font-weight: 900px; 
}

.col1 p {
  font-size: 20px;
}

.col2 {
  width: 50%;
}

.row1 {
  height: 50%;
  background-image: url("images/adopt_me.jpeg");
  text-align: right;
  padding-right: 500px;
  padding-top: 100px;
}

.row1 h4 {
  font-size: 40px;
  font-weight: 800;
}

.row2 {
  height: 50%;
  display: flex;
  align-items: center;
  background-color: #3A98F0ff;
}


.image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 50px;
}

.text {
  margin-left: 30px;
}

.text h4 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  color: white;
}

.text p {
  font-size: 20px;
  padding-top: 20px;
  color: white;
}

.family {
  height: 50vh;
  overflow: hidden;
}

.family img {
  max-width: 100vw;
}

.footer {
  height: 50px;
  background-color: #3A98F0ff;
  text-align: center;
}

.footer p {
  padding-top: 15px;
}